/* 선택자(selector) */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.center_align {
    margin: 0 auto;
    width: 1080px;
    height: 160px;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e4e8eb;
}

.center_align_nav {
    margin: 0 auto;
    width: 1080px;
    height: 30px;
}

.center_align_nav nav {
    padding: 11px 0 11px 0;
    box-sizing: content-box;
    background-color: #fff;
    border-bottom: 1px solid #e4e8eb;
}

#junior_naver {
    position: absolute;
    top: 12px;
    right: 27px;
}

#junior_naver a {
    font-size: 11px;
    color: #404040;
}

#junior_naver span {
    background-image: url(./sp_main_dba1af.png);
    background-repeat: no-repeat;
    background-size: 457px 434px;
}

#start_naver_page_icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -308px -345px;
    vertical-align: top;
    margin: 0 0 0 3px;
}

#junior_naver_icon {
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -262px -330px;
    vertical-align: top;
    margin: 3px;
    position: relative;
    top: 5px;
    left: 0px;
}

#happy_bin_icon {
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -369px -299px;
    vertical-align: top;
    position: relative;
    top: 8px;
    left: 0px;
}

/* > 는 자식을 선택하는 선택자 자식도 한 칸 뛰어서 사용해도 된다.*/
#header-search h1 {
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    background-size: 457px 434px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    background-image: url(./sp_main_dba1af.png);
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}

#header-search a {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}

#header-search h1 span {
    display: none;
}

/* 화면에 보이지 않게 하는 키워드 */
#header-search h2 {
    display: none;
}

#header-search fieldset {
    margin-left: 30px;
    vertical-align: middle;
    padding: 12px 0 12px 10px;
    width: 521px;
    height: 56px;
    display: inline-block;
    border: 2px solid #19ce60;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    left: 20%
}

#header-search fieldset input {
    width: 444px;
    height: 26px;
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
}

#korean_input_icon {
    display: inline-block;
    width: 20px;
    height: 12px;
    background-image: url(./sp_main_dba1af.png);
    background-position: -420px -395px;
    background-size: 457px 434px;
    background-repeat: no-repeat;
    position: relative;
    right: 50px;
    top: 3px;
}

#auto_complete {
    display: inline-block;
    width: 10px;
    height: 5px;
    background-image: url(./sp_main_dba1af.png);
    background-size: 457px 434px;
    background-position: -408px -77px;
    background-repeat: no-repeat;
    position: relative;
    right: 43px;
    top: 0px;
}

#header-search fieldset button {
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    background: #19ce60;
    position: absolute;
    right: -2px;
    top: -2px;
}

.search_icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-image: url(./sp_main_dba1af.png);
    background-position: -420px 0;
    background-size: 457px 434px;
    background-repeat: no-repeat;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: -.3px;
}

.nav_ul_green a {
    color: #03c75a;
}

.nav_ul_black a {
    color: black;
    margin-left: 5px;
}

nav li {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.nav_ul_green span {
    background-image: url(./sp_main_dba1af.png);
    background-size: 457px 434px;
    background-repeat: no-repeat;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.nav_li_a_margin_left {
    margin-left: 5px;
}

#mail_icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -420px -73px;
    vertical-align: top;
    margin: 3px 9px 0 0;
}

#shopping_icon {
    display: inline-block;
    width: 24px;
    height: 20px;
    background-position: -154px -389px;
    position: relative;
    top: 4px;
}

#shopping_live_icon {
    display: inline-block;
    width: 54px;
    height: 20px;
    background-position: -202px -299px;
    position: relative;
    top: 4px;
}

#tv_icon {
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -444px -49px;
    vertical-align: top;
    margin: 9px 2px 0 0;
}
/* 한 칸 뛰는 경우는 자손을 선택하는 선택자 */
/* #header-center h1 {
    width: 280px;
} */