* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.header a {
    text-decoration: none;
}

.header_center {
    height: 160px;
    margin: 0 auto;
}

.group_flex {
    width: 1130px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.naver_logo {
    display: inline-block;
    width: 222px;
    height: 53px;
    background-position: 0 -158px;
    background-size: 457px 434px;
    background-repeat: no-repeat;
    background-image: url(../sp_main_dba1af.png);
}

.search_area {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    width: 582px;
    top: 0px;
}

.search_fieldset {
    position: relative;
    height: 56px;
    border: 2px solid #19ce60;
    border-radius: 2px;
    padding: 0;
}

.search_input {
    vertical-align: top;
    box-sizing: content-box;
    margin: 1px;
    width: 444px;
    height: 24px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    padding: 13px 15px;
    outline: 0;
    border: none;
}

.serach_button {
    position: absolute;
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    background: #19ce60;
    border-radius: 2px;
    right: -2px;
    top: -2px;
}

.ico_search {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-image: url(../sp_main_dba1af.png);
    background-position: -420px 0;
    background-size: 457px 434px;
    background-repeat: no-repeat;
}